label{font-size:18px}.w3-serif{font-family:serif}
h5{
  text-align: center;
  padding-top: 2%;
  color: antiquewhite;
  font-weight: 800;
  font-size: 28px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #733949;
}


.card{
  position: relative;
  left:20%;
  padding-left: 5%;
  padding-right: 5%;
  width: 60%;
  height: 80vh;
  background: rgba(227, 183, 197, 0.46);
  overflow: auto;
  border: 3px solid #362b32;

  border-radius: 10px;
}

label{
  color: #733949;
  font-weight: 600;
  font-size: 20px;


}

#btn1{
  background-color: antiquewhite;
  color: rgb(209, 0, 71);
  border: 2px solid #362b32;
  border-radius: 8px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;


}

#btn1:hover {
  background-color: rgba(155, 0, 50, 0.43); /* Green */
  color: antiquewhite;
}

#btn2{
  background-color: rgba(155, 0, 50, 0.43);
  color: antiquewhite;
  border: 2px solid antiquewhite;
  border-radius: 8px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 3%;
}

#btn2:hover {
  background-color:antiquewhite;
  color: rgb(209, 0, 71);
}

